---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign non_books = site.publications | where_exp: "p", "p.category != 'books'" | sort: "date" | reverse %}
{% assign by_year = non_books | group_by_exp: "p", "p.date | date: '%Y'" %}

{% for year_group in by_year %}
  <h2 class="archive__year">{{ year_group.name }}</h2>
  <ol class="publication-list">
    {% for post in year_group.items %}
      <li>{{ post.citation }}</li>
    {% endfor %}
  </ol>
{% endfor %}

{% assign books = site.publications | where: "category", "books" | sort: "date" | reverse %}
{% if books.size > 0 %}
  <h2 class="archive__year">Books / Editorship</h2>
  <ol class="publication-list">
    {% for post in books %}
      <li>{{ post.citation }}</li>
    {% endfor %}
  </ol>
{% endif %}
